.modal-user {
  .content-body {
    .asterisk {
      color: red;
    }
  }
}

.manage-users-container {
  i {
    padding-right: 7px;
  }
  .user-header {
    .user-header {
      .actions i {
        padding-right: 7px;
      }
      .actions .refresh {
        margin-right: 7px;
      }
    }
  }
}
